@{
    ViewBag.Title = "Confirmacion de cambio de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Tu contraseña se ha cambiado. Por favor @Html.ActionLink("haz click aqui para iniciar sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
