@{
    ViewBag.Title = "Home Page";
}
<div id="form-inicio">

    <div style="background-color:white;text-align:center;" class="jumbotron">
        <h1 style="color:#f8b739;">Bienvenido</h1>

    </div>
    <div style="text-align: center;">
        <img style="opacity: 0.8;width: 500px;text-align: center;border-radius: 40%;" src="~/Content/img/logo.jpeg" />
    </div>
</div>





